    importFrom("grDevices", "dev.interactive", "devAskNewPage", "gray",
               "rgb")
    importFrom("graphics", "abline", "arrows", "axis", "hist", "legend",
               "lines", "par", "plot", "points")
    importFrom("stats", "complete.cases", "cor", "poisson", "predict",
               "quantile", "sd")
    exportPattern("^[[:alpha:]]+")
